@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,100..900&display=swap");
@import "tailwindcss";

:root {
  color: white;
}

body {
  @apply bg-black;
}

@theme {
  --font-fancy: "Old Standard TT", serif;
  --font-body: "Roboto", serif;
  --font-display: "Exo 2", serif;

  --color-accent: oklch(0.905 0.182 98.111);
  --color-accent-light: oklch(0.995 0.782 98.111); /* 3% lighter */
  --color-secondary: oklch(0.707 0.022 261.325);


}
